.registry {
  width: 100vw;
  /* margin: 20px auto; */
  padding: 20px;
  text-align: center;
  background-color: #faf4f4;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.registry-title {
  width: 80%;
  font-size: 2.5em;
  color: #b5838d;
  margin-bottom: 16px;
}

.registry ul {
  width: 80%;
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.listItem.bought {
  text-decoration: line-through;
  color: grey;
}

input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #b5838d;
}

input[type="checkbox"]:focus {
  border-color: #b5838d;
}
