.rsvp-table-container {
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(to bottom, #fff1f2, #ffe4e6);
  min-height: calc(100vh - 100px - 4rem);
  font-family: 'Georgia', serif;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.rsvp-table-container p {
  padding: 0 20px;
}
.rsvp-table-container table {
  border-collapse: collapse;
  margin: 10px 0;
  display: block;
  width: auto;
  overflow-x: auto;
  max-width: 100%;
}

.rsvp-table-container thead {
  background-color: #E6C3C1;
  color: #FFF;
}

.rsvp-table-container th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
}

input[type="text"], input[type="text"]:focus {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.plusOneInput input[type="text"] {
  width: 48%;
  display: inline-block;
  margin-right: 4%;
}

.plusOneInput input[type="text"]:last-child {
  margin-right: 0;
}

button {
  padding: 10px 15px;
  background-color: #3C4C24;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #6d6875;
}

.admin-add-invite * {
  margin-bottom: 10px;
}

.admin-add-invite *:last-child {
  margin-bottom: 0;
}

.rsvp-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-table table {
  /* width: calc(100% - 40px); */
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  border: 1px solid #ccc;
}

.rsvp-table th, .rsvp-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.rsvp-table th {
  background-color: #E6C3C1;
  color: #3C4C24;
}

.rsvp-table td {
  vertical-align: top;
}

.link-and-qr-code {
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

.link-and-qr-code a {
  display: block;
  margin-bottom: 10px;
  color: #3C4C24;
  text-decoration: none;
}

.link-and-qr-code a:hover {
  text-decoration: underline;
}

.qr-code {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvpAllButton {
  background-color: white;
  color: #E6C3C1;
  margin: 0 0 0 10px;
  padding: 5px;
}

.rsvpAllButton:hover {
  background-color: #E6C3C1;
  color: white;
}

/* @media (max-width: 1100px) {
  .rsvp-table table {
    width: 95%;
    padding: 0;
  }
} */

.map-large-container {
  display: flex;
}

@media (max-width: 700px) {
  .rsvp-table-container {
    min-height: calc(100vh - 77px - 4rem);
  }

  .plusOneInput input[type="text"] {
    width: 100%;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .rsvp-table-container th, .rsvp-table-container td {
    padding: 4px;
    font-size: 12px;
  }

  button {
    width: 90%;
    margin-top: 10px;
  }

  .admin-add-invite {
    padding: 0 5%;
  }
}