.rsvp-table-container {
  text-align: center;
  padding: 20px 0;
  background-color: #faf4f4;
  color: #505050;
  font-family: 'Georgia', serif;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-table-container table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10px;
}

.rsvp-table-container thead {
  background-color: #b5838d;
  color: #FFF;
}

.rsvp-table-container th, td {
  padding: 12px 8px;
  border: 1px solid #ccc;
  text-align: left;
}

input[type="text"], input[type="text"]:focus {
  width: 90%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #b5838d;
}

.inputHorizontal input[type="text"] {
  width: 48%;
  display: inline-block;
  margin-right: 4%;
}

.inputHorizontal input[type="text"]:last-child {
  margin-right: 0;
}

button {
  padding: 10px 15px;
  background-color: #b5838d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6d6875;
}

.admin-add-invite * {
  margin-bottom: 10px;
}

.admin-add-invite *:last-child {
  margin-bottom: 0;
}

.admin-see-invites table {
  width: 100%;
  border-collapse: collapse;
}

.admin-see-invites th, .admin-see-invites td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.admin-see-invites th {
  background-color: #b5838d;
  color: white;
}

.admin-see-invites td {
  vertical-align: top;
}

.admin-see-invites span {
  display: inline-block;
  margin-right: 5px;
}