WEDDING_EMAIL=<some_email@gmail.com>
WEDDING_EMAIL_PASSWORD=<some_password>
API_BASE_URL=<some_url>

MONGO_USER = <some_username>
MONGO_PASS = <some_password>
MONGO_CLUSTER = <some_cluster>

CLOUDINARY_URL=<some_url>
CLOUDINARY_CLOUD_NAME=<some_cloud_name>
CLOUDINARY_API_KEY=<some_api_key>
CLOUDINARY_API_SECRET=<some_api_secret>